body{
    font-family: "Raleway", sans-serif;
    background-color: #fffaf5;
}
h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
a {
    color: black;
    text-decoration: none;
}
.list-recipes {
    font-size: 26px;
    font-weight: 400;
    list-style-type: none;
    padding: 0px;
    margin: 40px;
}

